@import "../../vars.css";

.container {
  position: relative;
  width: 90%;
  color: var(--color-text);
margin: 76px auto;
padding-bottom: 30px;
  /* border: 2px solid red; */
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: grid;
  grid-template-columns: repeat(3,auto);
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

@media only screen and (max-width:767px){
  .container{
    width: 90%;
  }
  .projects{
    grid-template-columns: repeat(2,auto);
  }
}
@media only screen and (max-width:600px){
  .projects{
    grid-template-columns: repeat(1,auto);
  }
}